@import "../font-awesome/css/font-awesome.min.css";

body {
	-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	background-color: #F3F0EF;
}

header {
	height: 250px;
}

.img_container {
	height: 100%;
	overflow: hidden;
}

.img_container a {
	position: relative;
	top: -27%;
}

#page {
	background-color: #FFFFFF;
	margin-top: 30px;
	margin-right: 10%;
	margin-left: 10%;
}
