<head>
	<meta charset="utf-8">
	<title>{% if page.title %}{{ site.title }} - {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

	<!-- CSS -->
	<link href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}" rel="stylesheet">
	<link href="{{ "/css/style.css" | prepend: site.baseurl }}" rel="stylesheet">
	
	<!-- JS -->
	<script src="{{ "/js/jquery-2.1.4.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
</head>
